.about {
    position: relative;
    width: 100%;
    height: 480px;
    background-color: #CBD8FD;
    outline: 3px solid white;
    outline-offset: -3px;
    /* overflow: auto; */
    touch-action: none;
}

.title-bar {
    position: relative;
    background-color: #AFBDFC;
    color: black;
    top: 5px;
    margin: 0 5px;
    padding: 0 5px;
    height: 24px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.2em;
    cursor: grab;
}

.title-bar:active {
    cursor: grabbing;
}

.text-img {
    display: flex;
    justify-content: center;
}

.text-img>span {
    padding-left: 10px;
    align-self: center;
}

.close-button {
    cursor: pointer;
    height: 80%;
}

.close-button:active {
    transform: rotate(180deg);
}

/* .about-container{
    margin-top: 5px;
    height: calc(450px - 30px);
    overflow: auto;
} */

.intro{
    margin: 25px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "ava text text text"
        "overview overview overview overview"
        "menu main main main"
        ; 
    gap: 10px;
    touch-action: none;
}

.avatar {
    padding: auto;
    height: 120px;
    width: 120px;
    /* background-color: white; */
    background-image: url('/img/myavatar.png');
    background-size: contain;
    background-repeat: no-repeat;

    border-radius: 50%;
    grid-area: ava;
}


.text{
    letter-spacing: 0.1em;
    grid-area: text;
    text-align: left;
    align-self: center;
}

.text > .title{
    font-size: 40px;
    margin-bottom: 0.2em;
}

.text > .subtitle{
    font-size: 18.72px;
}

.overview{
    grid-area: overview;
    text-align: justify;
}

.menu{
    grid-area: menu;
    text-align: left;
}

a{
    text-decoration: none;
}

.menu > .title{
    background-color: #2B2B5D;
    display: inline-block;
    color: white;
    letter-spacing: 0.2em;
    padding: 0 2px 0 5px;
}

.menu > .content{
    background-color: #AFBDFC;
    border: 2px solid #2B2B5D;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #2B2B5D;
}

.menu > .content > li a{
    padding: 5px;
}

.menu > .content > li > a {
    color: inherit;
    display: block;
}

.menu > .content > li:hover{
    background-color: #6074C4;
    color: white;
}

.menu > .content > li:hover > a {
    color: inherit;
}

.main-div {
    grid-area: main;
    text-align: left;
    padding-left: 10px;
    height: 235px;
    overflow-y: auto;
    scrollbar-width: none;
}

@-moz-document url-prefix() {
    .main-div {
        height: 235px; /* Different height for Firefox */
    }
}

/* .main-div::-webkit-scrollbar{
    width: 3px;
}

.main-div::-webkit-scrollbar-track{
    background: transparent;
}

.main-div::-webkit-scrollbar-thumb{
   background: #6074C4;
} */

#education > .title, #experience > .title, #skills > .title {
    position: relative;
    background-color: #6074C4;
    color: white;
    padding-left: 10px;
}

#education > .paragraph, #experience > .paragraph, #skills > .paragraph{
    padding-left: 10px;
    text-align: justify;
    position: relative;

}

.paragraph > .timeline{
    position: absolute;
    right: 0;
}

.company-name{
    /* display: block;
    text-align: center; */
    text-decoration: underline;
}
