.certificate {
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #CBD8FD;
    outline: 3px solid white;
    outline-offset: -3px;
    touch-action: none;
}

.title-bar {
    position: relative;
    background-color: #AFBDFC;
    color: black;
    top: 5px;
    margin: 0 5px;
    padding: 0 5px;
    height: 24px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.2em;
    cursor: grab;
}

.title-bar:active {
    cursor: grabbing;
}

.text-img {
    display: flex;
    justify-content: center;
}

.text-img>span {
    padding-left: 10px;
    align-self: center;
}

.close-button {
    cursor: pointer;
    height: 80%;
}

.close-button:active {
    transform: rotate(180deg);
}

.certificate-container {
    margin: 8px 0 20px 20px;
    height: 400px;
    padding: 15px 5px 0 0;
    overflow-y: auto;
    /* scrollbar-width: thin;
    scrollbar-color: grey transparent; */
}

.certificate-container::-webkit-scrollbar {
    width: 5px;
}

.certificate-container::-webkit-scrollbar-track {
    background: transparent;
}

.certificate-container::-webkit-scrollbar-thumb {
    background: #5c6198;
}

@-moz-document url-prefix() {
    .certificate-container {
        margin: 8px 0 20px 20px;
        height: 400px;
        padding: 15px 10px 0 0;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: grey transparent;
    }

    .certificate-container::-webkit-scrollbar {
        width: 5px;
    }

    .certificate-container::-webkit-scrollbar-track {
        background: transparent;
    }

    .certificate-container::-webkit-scrollbar-thumb {
        background: #5c6198;
    }
}

.certificate-container>.item {
    background-color: #AFBDFC;
    border: 2px solid #2B2B5D;
    margin: 0 10px 20px 0;
    padding: 10px;
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

}

.cerf {
    display: flex;
    gap: 10px;
    align-items: center;
}

.ava {
    height: 80px;
    width: 80px;
    /* background-color: white; */
    background-size: contain;
    background-repeat: no-repeat;
}

.ava1 {
    background-image: url('/img/coursera_prof.png');
}

.ava2 {
    background-image: url('/img/coursera_crs.png');
}

.ava3 {
    background-image: url('/img/british_council.png');
}

.ava4 {
    background-image: url('/img/freeCodeCamp.png');
}

.cerf-name {
    font-size: 18.72px;
}

.main {
    grid-area: main;
}

.cerf-link {
    text-decoration: none;
    color: #2B2B5D;
}

.cerf-link:hover {
    text-decoration: underline;
}

.cerf-link:active {
    color: #476ce3;
}