:root {
    --background: linear-gradient(180deg, #8BA3FD 0%, #E2E6FF 35%, #FFFFFF 100%);
    --title-text: 3.75em; /* 60px = 3.75em */
    --subtitle-text: 1.5625em; /* 25px = 1.5625em */
    --title-color: #2B2B5D;
    --subtitle-color: #476CE3;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* .vt323-regular {
    font-family: "VT323", monospace;
    font-style: normal;
    } */

.container {
    background: var(--background);
    min-height: 100vh;
    font-family: "VT323", monospace;
    text-align: center;
    align-content: center;
}

.homepage-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.title {
    display: flex;
    align-items: center;
    white-space: nowrap;
}


.homepage-title >.title {
    letter-spacing: 0.1em; /* 10% == 0.1 em */
    font-size: var(--title-text);
    color: var(--title-color);
}

.homepage-subtitle>.subtitle {
    letter-spacing: 0.1em; /* 10% == 0.1 em */
    font-size: var(--subtitle-text);
    color: var(--subtitle-color);
}

.element {
    margin:0 0.2em; /* Adds a small space before the element */
    background-image: url('/img/cat-spritesheet.png');
    /* size of one frame */
    width: 83px;
    height: 61px;
    animation: sprite 0.5s steps(3) infinite;
    
}

@keyframes sprite {
    from {
        /* first frame */
        background-position: 0px;
        
    }

    to {
        /* last frame */
        background-position: -249px;
        
    }
}