:root {
    --background: linear-gradient(180deg, #8BA3FD 0%, #E2E6FF 35%, #FFFFFF 100%);
    --title-text: 3.75em;
    --subtitle-text: 1.5625em;
    --title-color: #2B2B5D;
    --subtitle-color: #476CE3;
    --icon-name: 1.2em;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;

    background-image:
        url("/img/clouds/corner-cloud-bottom.png"),
        url("/img/clouds/corner-cloud-top.png"),
        var(--background);
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;

}

/* .vt323-regular {
    font-family: "VT323", monospace;
    font-style: normal;
    } */

.container {
    /* flex-direction: column;
    text-align: center;
    justify-content: space-evenly; */
    min-height: 100vh;
    font-family: "VT323", monospace;
    text-align: center;
    align-content: center;
}

.homepage-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 1;
}

.title {
    display: flex;
    align-items: center;
    white-space: nowrap;
}


.homepage-title>.title {
    letter-spacing: 0.1em;
    /* 10% == 0.1 em */
    font-size: var(--title-text);
    color: var(--title-color);
}

.homepage-subtitle>.subtitle {
    letter-spacing: 0.1em;
    /* 10% == 0.1 em */
    font-size: var(--subtitle-text);
    color: var(--subtitle-color);
}

.element {
    margin: 0 0.2em;
    /* Adds a small space before the element */
    background-image: url('/img/cat-spritesheet.png');
    /* size of one frame */
    width: 83px;
    height: 61px;
    animation: sprite 0.5s steps(3) infinite;

}

@keyframes sprite {
    from {
        /* first frame */
        background-position: 0px;

    }

    to {
        /* last frame */
        background-position: -249px;

    }
}

.categories {
    display: grid;
    grid-template-rows: 70px 20px;
    grid-template-columns: repeat(5, 200px);
    justify-content: center;
    justify-items: center;
    align-items: center;

    padding-top: 7%;
}

.icon-img {
    height: 100%;
    /* cursor: pointer; */
}

.icon-name {
    font-size: var(--icon-name);
}

.clouds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cloud-1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: 
        url("/img/clouds/cloud-1.png");
    background-repeat: no-repeat;
    background-position: 
        15% 25%;
    animation: float 25s infinite ease-in-out;

}

.cloud-2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: 
        url("/img/clouds/cloud-2.png");
    background-repeat: no-repeat;
    background-position: 
        35% 10%; 
    animation: float 30s infinite ease-in-out;
    animation-delay: -10s;

}

.cloud-3{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: 
        url("/img/clouds/cloud-3.png");
    background-repeat: no-repeat;
    background-position: 
        60% 15%;
    animation: float 35s infinite ease-in-out;
    animation-delay: -5s;
}

.cloud-4{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: 
        url("/img/clouds/cloud-4.png");
    background-repeat: no-repeat;
    background-position: 
        80% 20%;
    animation: float 40s infinite ease-in-out;
    animation-delay: -20s;
}

@keyframes float {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(5%) translateY(2%);
    }
    50% {
        transform: translateX(0) translateY(-1%);
    }
    75% {
        transform: translateX(-5%) translateY(2%);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}


#aboutWindow {
    width: 600px;
    position: absolute;
    inset-inline-start: 80px;
    inset-block-start: 100px;
}

#about-btn{
    cursor: pointer;
}