.myResume {
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #CBD8FD;
    outline: 3px solid white;
    outline-offset: -3px;
    touch-action: none;
}

.title-bar {
    position: relative;
    background-color: #AFBDFC;
    color: black;
    top: 5px;
    margin: 0 5px;
    padding: 0 5px;
    height: 24px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.2em;
    cursor: grab;
}

.title-bar:active{
    cursor: grabbing;
}

.text-img{
    display: flex;
    justify-content: center;
}

.text-img > span{
    padding-left: 10px;
    align-self: center;
}

.close-button {
    cursor: pointer;
    height: 80%;
}

.close-button:active{
    transform: rotate(180deg);
}

.myResume-container{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    row-gap: 10px;
    grid-column: auto;
    justify-content: space-around;
}

/* .myResume-container::-webkit-scrollbar{
    width: 5px;
}

.myResume-container::-webkit-scrollbar-track{
    background: transparent;
}

.myResume-container::-webkit-scrollbar-thumb{
   background: #5c6198;
} */

.myResume-container > .item{
    width: 84px;
    overflow: visible;
}

.file-img{
    height: 60px;
    width: 48px;
    margin: 0 auto 0 auto;
    background-image: url('/img/resume_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.file-link{
    text-decoration: none;
    color: black;
}

.file-link:hover {
    color: black;
}

.file-link:active {
    text-decoration: none;
    color: black;
} 