#firstWindow {
    width: 500px;
    position: absolute;
    /* z-index: 10; */
}

#secondWindow {
    width: 500px;
    position: absolute;
    inset-inline-start: 40px;
    inset-block-start: 60px;
}

#thirdWindow {
    width: 500px;
    position: absolute;
    inset-inline-start: 80px;
    inset-block-start: 100px;
}
/* 
.z-index10{
    z-index: 10;
} */